<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Payment Section</h1>
    </div>

    <div class="container">
        <div class="form-container">
            <form [formGroup]="paymentForm" (submit)="submit()">
                <div class="row">
                    <mat-form-field class="form-field" appearance="outline">
                        <mat-label> Credit Card Number
                        </mat-label>
                        <input matInput formControlName="creditCardNumber" pattern="[0-9]*" required>
                        <mat-error
                            *ngIf="paymentForm.controls.creditCardNumber.touched && paymentForm.controls.creditCardNumber.invalid">
                            <span *ngIf="paymentForm.controls.creditCardNumber.errors.required">The Credit Card Number
                                is
                                mandatory.</span>
                            <span *ngIf="paymentForm.controls.creditCardNumber.invalid">Please enter valid card
                                number</span>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class="form-field" appearance="outline">
                        <mat-label> Card Holder
                        </mat-label>
                        <input matInput formControlName="cardholder" required>
                        <mat-error
                            *ngIf="paymentForm.controls.cardholder.touched && paymentForm.controls.cardholder.invalid">
                            <span *ngIf="paymentForm.controls.cardholder.errors.required">The Card Holder is
                                mandatory.</span>

                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class="form-field" appearance="outline">
                        <mat-label>Expiration Date
                        </mat-label>
                        <input matInput [matDatepicker]="dp" [min]="minDate" [matDatepickerFilter]="myDateFilter"
                            formControlName="expirationDate">
                        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                        <mat-datepicker #dp startView="multi-year" panelClass="example-month-picker">
                        </mat-datepicker>
                        <mat-error
                            *ngIf="paymentForm.controls.expirationDate.touched && paymentForm.controls.expirationDate.invalid">
                            <span *ngIf="paymentForm.controls.expirationDate.errors.required">Card Expiration Date is
                                mandatory.</span>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class="form-field" appearance="outline">
                        <mat-label> Security Code
                        </mat-label>
                        <input matInput formControlName="securityCode" pattern="[0-9]*" type="password">
                        <mat-error
                            *ngIf="paymentForm.controls.securityCode.touched && paymentForm.controls.securityCode.invalid">
                            <span *ngIf="paymentForm.controls.securityCode.invalid">Please enter Valid security
                                code</span>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class="form-field" appearance="outline">
                        <mat-label> Amount
                        </mat-label>
                        <input matInput formControlName="amount" min="1" type="number" required>
                        <mat-error *ngIf="paymentForm.controls.amount.touched && paymentForm.controls.amount.invalid">
                            <span *ngIf="paymentForm.controls.amount.errors.required">Amount is
                                mandatory.</span>
                            <span *ngIf="paymentForm.controls.amount.invalid">Minimum Amount should be 1.</span>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="row">
                    <button mat-raised-button color="primary" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
    <ng-container *ngIf="(loading$ | async); else checkData">
        loading....
    </ng-container>
    <ng-template #checkData>
        <div class="container">
            <div class="row" *ngFor="let payment of paymentList;">
                Congratulation payment successfully done by {{payment.cardholder}}.
            </div>
        </div>
    </ng-template>
</section>