<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Welcom to Payment module assignment</h1>
        <a class="lead" routerLink="/payment">Please click here to go to payment page</a>
    </div>
</section>